<html
lang="en">

<head>
    <title> | Anne Kimathi</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="./StyleCSS/Structure.css"/>
    <link rel="stylesheet" href="./StyleCSS/ColorAndStyle.css"/>
    <link rel="stylesheet" href="./StyleCSS/Response.css">
    <link rel="stylesheet" href="./StyleCSS/SmallScreenStructure.css">
    <link rel="icon" type="image/png" href="/ImageFolder/Icons/FavIconMom.png">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://unpkg.com/swup@3"></script>
</head>

<body>
       <!--! Navigation Bar starts here-->
       <div class="NavbarContainer" id="NavBar">
        <div class="MommasTitle">
            <div class="BrandingTextBox">
                <a href="./Home.html"  class="Branding">
                    <p class="AnneLogo PrimaryShade">Ann Kimathi, Youth Mentor</p>
                </a>
            </div>
        </div>
        <div class="NavigationElements">
            <div class="Navigation PrimaryShade">
                <a href="./" class="NavElement" id="Home" onclick="FlipPage('Home')">
                    <!--NavFont for text design, primary shade for text color, navtext to improve structural look-->
                    <p class="PrimaryShade NavFont NavText" id="HomeTxt">Home</p>
                </a>
                <a href="./#ActivitiesAnchor" class="NavElement" id="Activities" onclick="FlipPage('Activities')">
                    <p class="PrimaryShade NavFont NavText" id="ActivitiesTxt">Activities</p>
                </a>
                <a href="/MyApproach.html" class="NavElement" id="Approach" onclick="FlipPage('Approach')">
                    <p class="PrimaryShade NavFont NavText" id="ApproachTxt">My Approach</p>
                </a>
                <a href="/Discover.html"  class="NavElement" id="RecentActivites" onclick="FlipPage('RecentActivities')">
                    <p class="PrimaryShade NavFont NavText" id="RecentActivitiesTxt">Discover</p>
                </a>
                <a href="./#ContactsAnchor" class="NavElement NavFont" id="Contact" onclick="FlipPage('Contact')">
                    <p class="PrimaryShade NavFont NavText" id="ContactsTxt">Contact</p>
                </a>
            </div>
        </div>
    </div>




        <!--!universal ChatBot starts here-->

        <div class="ChatBar PrimaryShade PrimaryShadeForBG" id="ChatBotBtn">
        
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-chat-left-text ChatIcon" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
              </svg>
             
        </div> 
        <div class="hidden PrimaryShade" id="ChatbotDialog">
            <div class="HeaderBar PrimaryShadeForBG">
                <div class="BackButton ExtraInfoParent">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                    </svg>
                    <div class="ExtraInfo">
                        <p>Leave chat? </p>
                    </div>
                </div>
                <div class="Heading">
                    <div class="online">
    
                    </div>
                    <p>Chatting with Anne</p>
                </div>
            </div>
            <div class="ChatArea" id="ChatAreaID">
    
                <!-- Conversation area -->
                <!-- ! Use ::Before to add the images before -->
                <div class="Assistant textBubble">
                    <!-- i'll append child -->
                    <p>title</p>
                    <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div name="pseudoForm" target="_blank">
                        <div class="nameBox chatContactBox">
                            <label for="name">Name: </label>
                            <input type="text" id="ChatName">
                        </div>
                        <br>
                        <div class="emailBox chatContactBox">
                            <label for="contact">Contact: </label>
                            <input type="text" id="ChatContact">
                        </div>
                        <button class="CommonButton SubmitDetailsChat" onclick="StoreData()"><p>submit</p></button>
                    </div>
                </div>
    
    
    
    
    
    
                <!--! Emojis here-->
                <div class="EmojiSelectionBar"  id="EmojiSelectionBarID">
                    <div class="EmojisSearch">
                        <div class="EmojiSearchBar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search searchIcon" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                              </svg>
                              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x cancelSearchSecondary cancelSearch" viewBox="0 0 16 16" onclick="CloseSearch()">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                            <input type="text" class="EmojiSearchTextBox" id="EmojiSearchID" placeholder="search...">
                        </div>
                    </div>
                    <div class="EmojisCollection" id="EmojisCollectionID">
                        <sth class="DisplayHidden" id="internetConnectionErr">
                            
                        </sth>
                        <sth>
                            <img src="./ImageFolder/Icons/Eclipse-1s-200px.svg" alt="loading" class="loadingSign EmojiLoading">
                        </sth>
                    </div>
                </div>
            </div>
            <div>
                <form action="/" method="post" class="DraftArea PrimaryShadeForBG">
                    <div class="MessageSlot">
                        
                            
                        <div class="messageDraft">
                            <div class="EmojiSection">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-laughing StartEmoji" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x cancelSearchMain cancelSearch" viewBox="0 0 16 16" onclick="CloseSearch()">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                  </svg>
                                <!--https://stackoverflow.com/questions/64127020/how-to-add-emoji-picker-to-chatbox-->
                            </div>
                            <!--! text area to include emoji section-->
                            <textarea name="Message" id="Message" cols="35" rows="2" class="textArea"></textarea> 
                            <div class="GhostInputs">
                                <input type="text" name= "ClientName" id="GhostName">
                                <input type="text" name ="Contact" id="GhostContact">
                            </div>
                        </div>
                    </div>
                    <div class="SendSlot">
                        <button type="submit" class="send option" onclick="newMessage(document.getElementById('Message').value)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send rotateToView" viewBox="0 0 16 16">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                            </svg>
                            <!--https://www.joomlatools.com/blog/extensions/get-notified-when-users-perform-actions-on-your-website-->
                        </button>
                    </div>
                </form>
            </div>
            <div class="DragArea" id="handle">
                <div class="DragHandle" >
                    
                </div>
            </div>
        </div>
        <!--?universal ChatBot ends here-->
            <!--?universal ChatBot ends here-->



    <!-- <main id="swup" class="transition-fade">
    <!--! Main Page-->
    <div class="ApproachCarousel ApproachLarge">
        <div class="ImageDisplay">
           <img src="./ImageFolder/Events/DevotionImg.png" alt="Devotion">
        </div>
        
    </div> 
    <div class="MyApproach MyApproachTextContainer ApproachLarge">
        <div class="MyApproachLeftPanel DividedPanels ">
            <div id="ApproachText">
                <p>
                "As a youth mentor, my approach to helping and leading young people is centered on helping young people to <b>break free from the chains of sin and the patterns of this world</b> and instead focusing on being lead by Christ in righteousness. I believe that in order for young people to truly grow in Christ and make a difference, <b>they ought to be deeply rooted in God's word</b>. To achieve this, I focus on allowing my mentees to read the word and engage with it through discussion and journaling while giving them a free space to express their views and perspectives before guiding them. In addition to building strong biblical foundations, I also strive to provide my mentees with guidance, resources, and support as they navigate the challenges and opportunities of growing up. This might include helping them to set goals, develop coping strategies, and make positive choices in their very crucial years of youth. As a youth mentor, I see myself as a role model and guide, rather than someone who is there to tell my mentees what to do. I believe that young people are capable of making their own decisions and taking ownership of their own lives, and my role is to help them to develop the skills and confidence they need to do so"
                </p>
            </div>
        </div>
        <div class="MyApproachRightPanel DividedPanels PrimaryShadeForBG"></div>
    </div>


    <!-- !mobile view -->
    <div class="approachSmallScreen smallscreen">
        <div class="menuOverlay" id="menuOverlayID">
            <div class="backButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" onclick="back(document.getElementById('menuOverlayID'), 'menuOverlay', 'menuOverlayID')">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
            </div>

            <div class="menuOptions">
                <a href="/">
                    <p>Home</p>
                </a>
                <a href="/MyApproach.html">
                    <p>Approach</p>
                </a>
                <a href="/Discover.html">
                    <p>Discover</p>
                </a>
            </div>


        </div>
        <div class="menuButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" onclick="openMenu()">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </div>
        <div class="mainApproachImage">
            <img src="./ImageFolder/IllustrationMedia/MommsySpeakingToMany2.JPG" alt="Main image">
        </div>
        <div class="mainApproachText">
            <p>"As a youth mentor, my approach to helping and leading young people is centered on helping young people to <b>break free from the chains of sin and the patterns of this world</b> and instead focusing on being lead by Christ in righteousness. I believe that in order for young people to truly grow in Christ and make a difference, <b>they ought to be deeply rooted in God's word</b>. To achieve this, I focus on allowing my mentees to read the word and engage with it through discussion and journaling while giving them a free space to express their views and perspectives before guiding them. In addition to building strong biblical foundations, I also strive to provide my mentees with guidance, resources, and support as they navigate the challenges and opportunities of growing up. This might include helping them to set goals, develop coping strategies, and make positive choices in their very crucial years of youth. As a youth mentor, I see myself as a role model and guide, rather than someone who is there to tell my mentees what to do. I believe that young people are capable of making their own decisions and taking ownership of their own lives, and my role is to help them to develop the skills and confidence they need to do so"</p>
        </div>
    </div>
    <div class="Testimonials MyApproach ApproachLarge">
        <!--Im thinking of going full out here
        -->
        <div class="FacesContainer" id="FacesContainerID">            <!-- <img class="TestimonialStockImages STCimage7" id="STCimageID7" src="https://images.unsplash.com/photo-1531727991582-cfd25ce79613?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt=""> -->

            <img class="TestimonialStockImages STCimage2" onclick="ControlSlider(2, DefinePreviousAfterInput, true)" id="STCimageID2" src="https://images.unsplash.com/photo-1522529599102-193c0d76b5b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
            <img class="TestimonialStockImages STCimage4" onclick="ControlSlider(4, DefinePreviousAfterInput, true)" id="STCimageID4" src="https://images.unsplash.com/photo-1517598024396-46c53fb391a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="" >
            <img class="TestimonialStockImages STCimage5" onclick="ControlSlider(5, DefinePreviousAfterInput, true)" id="STCimageID5" src="https://images.unsplash.com/photo-1519076381129-b4234ae7e573?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=418&q=80" alt="" >
            <img class="TestimonialStockImages STCimage1" onclick="ControlSlider(1, DefinePreviousAfterInput, true)" id="STCimageID1" src="https://images.unsplash.com/photo-1573496799652-408c2ac9fe98?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="">
            <img class="TestimonialStockImages STCimage6" onclick="ControlSlider(6, DefinePreviousAfterInput, true)" id="STCimageID6" src="https://images.unsplash.com/photo-1535295972055-1c762f4483e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="" >
            <img class="TestimonialStockImages STCimage3" onclick="ControlSlider(3, DefinePreviousAfterInput, true)" id="STCimageID3" src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="" >


            <div class="Slider">
                <div class="SliderNode PrimaryShadeBGForElements" id="sliderID"></div>
            </div>
        </div>
        <div class="FacesContainerOnDisplay">
            <img class="TestimonialStockImageOnDisplay" id="STCimageDisplay1" src="https://images.unsplash.com/photo-1573496799652-408c2ac9fe98?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="">
            <img class="TestimonialStockImageOnDisplay" id="STCimageDisplay2" src="https://images.unsplash.com/photo-1522529599102-193c0d76b5b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
            <img class="TestimonialStockImageOnDisplay" id="STCimageDisplay3" src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="" >
            <img class="TestimonialStockImageOnDisplay" id="STCimageDisplay4" src="https://images.unsplash.com/photo-1517598024396-46c53fb391a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="" >
            <img class="TestimonialStockImageOnDisplay" id="STCimageDisplay5" src="https://images.unsplash.com/photo-1519076381129-b4234ae7e573?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=418&q=80" alt="" >
            <img class="TestimonialStockImageOnDisplay" id="STCimageDisplay6" src="https://images.unsplash.com/photo-1535295972055-1c762f4483e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="" >
            <img class="TestimonialStockImageOnDisplay" id="STCimageDisplay7" src="https://images.unsplash.com/photo-1531727991582-cfd25ce79613?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt=""> 
        </div>
        <div class="BackDrop PrimaryShadeForBG ">
            <div class="BigQuote">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-quote Quote" viewBox="0 0 16 16">
                    <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"/>
                  </svg>
            </div>
            <div class="YouthTestimony">
                <p class="YouthTestimonial1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p class="YouthTestimonial2">
                    Ευχαριστώ πραγματικά τον Θεό για το είδος της μαμάς που μου έδωσε. Είναι απλά η απόλυτη καλύτερη. Μας έμαθε τόσα πολλά, ήταν εκεί για εμάς, ποτέ δεν μας άφησε. Μόνο ο Θεός ξέρει τα πολλά που έχει θυσιάσει για εμάς. <br> Ευχαριστώ, Θεέ μου, για τη μαμά μου. Μου έμαθε πώς να διαβάζω τη Βίβλο. Στάθηκε δίπλα μου στις πιο σκοτεινές μου μέρες που η ζωή μου έμοιαζε να ανατρέπεται. Με έμαθε να σε αγαπώ.
                </p>
                <p class="YouthTestimonial3">
                    אני באמת מודה לאלוהים על סוג האמא שהוא נתן לי. היא פשוט הטובה ביותר. היא לימדה אותנו כל כך הרבה, הייתה שם בשבילנו, אף רגע היא מעולם לא עזבה אותנו. רק אלוהים יודע כמה היא הקריבה למעננו. <br> תודה לך, אלוהים, על אמא שלי. היא לימדה אותי לקרוא את התנ"ך. היא עמדה לצדי בימים האפלים ביותר שלי, כשנדמה היה שחיי מתהפכים. היא לימדה אותי לאהוב אותך.
                </p>
                <p class="YouthTestimonial4">
                    Opravdu děkuji Bohu za to, jakou mámu mi dal. Je prostě absolutně nejlepší. Tolik nás toho naučila, byla tu pro nás, nikdy nás nikdy neopustila. Jen Bůh ví, kolik toho pro nás obětovala. <br> Děkuji ti, Bože, za mou maminku. Naučila mě číst Bibli. Stála při mně v mých nejtemnějších dnech, kdy se zdálo, že se můj život obrací vzhůru nohama. Naučila mě tě milovat.
                </p>
                <p class="YouthTestimonial5">
                    Nirringrazzja ħafna lil Alla tat-tip ta' omm li tani. Hija biss l-aħjar assoluta. Hija għallmitna ħafna, kienet hemm għalina, qatt fl-ebda mument qatt ma ħallietna. Alla biss jaf il-ħafna li hi ssagrifikata għalina. <br> Grazzi, Alla, għal ommi. Għallmitni kif naqra l-bibbja. Hija qagħdet miegħi fl-aktar ġranet mudlama tiegħi meta ħajti dehret tinqaleb ta' taħt fuq. Għallmitni nħobbok.
                </p>
                <p class="YouthTestimonial6">
                    Je remercie vraiment Dieu pour le genre de maman qu’il m’a donnée. Elle est tout simplement la meilleure. Elle nous a tellement appris, a été là pour nous, jamais à aucun moment elle ne nous a quittés. Seul Dieu sait tout ce qu’elle a sacrifié pour nous. <br> Merci, Dieu, pour ma mère. Elle m’a appris à lire la Bible. Elle s’est tenue à mes côtés dans mes jours les plus sombres quand ma vie semblait basculer. Elle m’a appris à t’aimer.
                </p>
                <p class="YouthTestimonial7">
                    Ik dank God echt voor het soort moeder dat hij me gaf. Ze is gewoon de absolute beste. Ze heeft ons zoveel geleerd, is er voor ons geweest, nooit heeft ze ons ooit verlaten. Alleen God weet hoeveel ze voor ons heeft opgeofferd. <br> Dank u, God, voor mijn moeder. Ze leerde me de bijbel lezen. Ze stond me bij in mijn donkerste dagen toen mijn leven op zijn kop leek te staan. Ze heeft me geleerd om van je te houden.
                </p>
            </div>
            <div class="YouthTestimonyName">
                <h3 class="YouthName1">~ felix puer</h3>
                <h3 class="YouthName2">~ αγάπη μαμά</h3>
                <h3 class="YouthName3">~ נוער נרגש שמח</h3>
                <h3 class="YouthName4">~ Šťastné nadšené mládí</h3>
                <h3 class="YouthName5">~ Żgħażagħ Kuntenti</h3>
                <h3 class="YouthName6">~ Une jeunesse heureuse</h3>
                <h3 class="YouthName7">~ Gelukkige Jeugd</h3>
            </div>

        </div>
            
    </div>
  

    <script src="./NavFunctionalityExtras/Approach.js"></script>
    <script src="./FunctionalityJS/PageAnimations.js"></script>
    <script src="./WebsiteText/TextFile.js"></script>
    <script src="./FunctionalityJS/Carousels.js"></script>
    <script src="./FunctionalityJS/Response.js"></script>
</body>
</html>